:root {
	/*
		• You can change these to change the paper size or customize the card font.
		• This assumes you already have the Museo Sans font installed on your computer.
		• It also uses Lato as a fallback before it just defaults to your browser's
		  default sans-serif font (which will probably look worse).
	*/
	--page-width: 8.5in;
	--page-height: 11in;
	--page-margin: 0.5in;
	
	--element-spacing: 0.25in;
	
	--table-width: calc(var(--page-width) - (2 * var(--page-margin)));
	--table-corner-radius: 0.25in;
	--cell-width: calc(var(--table-width) / 5);
	--cell-height: var(--cell-width);
	--cell-padding: 0.125in;
	--cell-font-size: 12pt;
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	max-width: var(--page-width);
	text-align: center;
	font-family: var(--ab-font-family);
}

.bingo-page {
	width: var(--page-width);
	height: var(--page-height);
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	background-color: var(--ab-orange);
	color: white;
	
	/* Show borders for debugging */
	/*box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0.5);*/
}

.bingo-page-front {
	--front-bg-width: 1784px;
	--front-bg-height: 1792px;
	--front-bg-scale-factor: 0.125;
	--scaled-front-bg-width: calc(var(--front-bg-scale-factor) * var(--front-bg-width));
	--scaled-front-bg-height: calc(var(--front-bg-scale-factor) * var(--front-bg-height));
	
	background-image: url('bg_front.png');
	background-size: var(--scaled-front-bg-width) var(--scaled-front-bg-height);
	background-repeat: repeat;
}

.bingo-page-back {
	background-size: cover;
	background-image: url('bg_back.png');
}

.heading {
	margin: 0;
	margin-bottom: var(--element-spacing);
	font-size: 36pt;
	letter-spacing: 0.5em;
}
	.heading-last-letter {
		/* Without this, the heading will not be centered because the
		   browser will add trailing spacing after the last letter. */
		letter-spacing: 0em;
	}

.bingo-table {
	width: var(--table-width);
	border-collapse: collapse;
}
	.bingo-table th {
		width: var(--cell-width);
		
		border: 0 none;
		font-weight: bold;
		font-size: 48pt;
	}
	.bingo-table td {
		box-sizing: border-box;
		width: var(--cell-width);
		height: var(--cell-height);
		padding: var(--cell-padding);
		
		background-color: rgba(255, 255, 255, 0.8);
		border: 1px solid black;
		color: black;
		font-size: var(--cell-font-size);
	}
		.bingo-table td.free-space {
			font-size: calc(1.5 * var(--cell-font-size));
			font-weight: bold;
		}
	
	/* Remove the outer table cell borders */
	.bingo-table tr:nth-child(1) td {
		border-top: 0 none;
	}
	.bingo-table tr:nth-child(5) td {
		border-bottom: 0 none;
	}
	.bingo-table td:nth-child(1) {
		border-left: 0 none;
	}
	.bingo-table td:nth-child(5) {
		border-right: 0 none;
	}
	
	/* Curve the outer corners */
	.bingo-table tr:nth-child(1) td:nth-child(1) {
		border-top-left-radius: var(--table-corner-radius);
	}
	.bingo-table tr:nth-child(1) td:nth-of-type(5) {
		border-top-right-radius: var(--table-corner-radius);
	}
	.bingo-table tr:nth-child(5) td:nth-of-type(1) {
		border-bottom-left-radius: var(--table-corner-radius);
	}
	.bingo-table tr:nth-child(5) td:nth-of-type(5) {
		border-bottom-right-radius: var(--table-corner-radius);
	}

.footer-logo {
	max-width: calc(var(--page-width) - (6 * var(--page-margin)));
	max-height: 0.5in;
	margin-top: calc(2 * var(--element-spacing));
}
